header{
    color: rgb(211, 28, 165); 
 } 
 
 article {
     color:rgb(14, 117, 14);

 }
 footer { color:rgb(143, 95, 6)}; 
 

 body {
     background: #fefefe;
     
 }

 section {
     background:rgb(238, 103, 103) ;
 }

 .hotpink-header {
     color:rgb(11, 8, 26);
 }

 #top {
     background:rgb(130, 50, 205) ;
 }

 nav a {
     color:#60b60f;

 }

 a {
     color:#e4e724;

 }

 #zmiany {
     background: hotpink;
 }
 #pop { 
     background:#4eb2e0 ;
 }
 .black {
     color:black;
     
 }