header {
  color: black;
}

article {
  color: rgb(14, 117, 14);
}
footer {
  color: rgb(143, 95, 6);
}

body {
  background: #fefefe;
}



.hotpink-header {
  color: rgb(150, 21,21);
}

#top {
  background: rgb(56, 206, 114);
}

nav a {
  color: #0e0770;
}

a {
  color: #2427e7;
}

#zmiany {
  background: white;
}
#pop {
  background: #4eb2e0;
}
.black {
  color: rgb(150, 21, 21);
}
.main {
    max-width: 1000px;
  margin: 0 auto;


}

.navigation {
    background: green;
    padding: 16px;
    border-radius: 8px;
}

.navigation__link {
    color:white;
    display: inline-block;
    margin-right: 16px;
}
.week__summary {
    padding: 16px;
    border: 1px #ccc solid;

}

.img {
    top: 300px;
    border: 300px;
    width :300px;
    height: 300px;
  
}
